:root {
  --ff-primary: 'Roboto', sans-serif;

  --fw-reg: 300;
  --fw-med: 700;
  --fw-bold: 900;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-sidebar: 1.2rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
    --fs-sidebar: 1.4rem;
    --fs-podcast-nav: 1.3rem;
  }
}
