:root {
  --ff-primary: 'Roboto', sans-serif;

  --fw-reg: 300;
  --fw-med: 700;
  --fw-bold: 900;

  --fs-h1: 3.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-body: 1.2rem;
  --fs-small: 1rem;
  --fs-footer: 0.8rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 5rem;
    --fs-h2: 3rem;
    --fs-h3: 2rem;
    --fs-body: 1.4rem;
    --fs-small: 1.2rem;
    --fs-footer: 1rem;
  }
}
