.btn {
  border: none;
  padding: 1.5rem 1rem;
  font-weight: var(--fw-med);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05rem;
  border-radius: 5rem;
  margin: 2rem 0;
  cursor: pointer;
}
