footer {
  width: 100%;
  padding: 2rem;
  color: var(--color-grey-dark-3);
  border-top: var(--line);
  font-size: var(--fs-footer);
  font-weight: var(--fw-med);
  text-align: center;
  letter-spacing: 0.05rem;
}
