.header__link {
  flex: 0 0 40%;
  text-decoration: none;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: var(--fs-body);

    background-color: var(--color-grey-light-2);
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 100px;
    width: 60%;
    transition: all 0.2s;
    margin-right: -3.5rem;

    &:focus {
      outline: none;
      width: 80%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

.user-nav {
  align-self: stretch;
  font-size: var(--fs-body);
  font-weight: var(--fw-med);
  color: var(--color-grey-light-4);

  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    color: var(--color-grey-light-1);
  }

  &__user-photo {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
    fill: var(--color-grey-light-4);
  }

  &__user {
    transition-duration: 0.5s;
    position: relative;

    &__link:link,
    &__link:visited {
      color: var(--color-grey-light-4);
      text-decoration: none;
      text-transform: capitalize;
      display: block;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover > ul,
    .dropdown-menu:hover,
    &:active > ul {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    .dropdown-menu {
      background: var(--clr-background-dark-3);
      list-style: none;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transition: all 0.5s ease;
      margin-top: 1rem;
      display: none;

      padding: 1.5rem;

      top: 5rem;
      left: 0;
      right: 0;

      &__option {
        display: flex;
        align-items: center;

        clear: both;
        width: 100%;
      }
    }
  }

  &__logout {
    &__icon {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1rem;
      fill: var(--color-grey-light-4);
    }

    &__btn {
      border: none;
      background: inherit;
      color: var(--color-grey-light-4);
      font-size: inherit;
      font-weight: inherit;
      cursor: pointer;
    }
  }
}
