.podcast-card {
  display: flex;
  flex-direction: column;

  &__cover {
    width: 20rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    color: var(--color-grey-light-1);

    &__title {
      font-size: var(--fs-body);
      font-weight: var(--fw-med);
      letter-spacing: 0.05em;
    }

    &__author {
      font-size: var(--fs-small);
      font-weight: var(--fw-med);
      color: var(--color-grey-light-4);
    }
  }
}
