.podcast-card {
  display: flex;

  &__info {
    display: flex;
    flex-direction: column;

    color: var(--color-grey-light-1);
    margin-left: 1rem;

    &__title {
      font-size: var(--fs-body);
      font-weight: var(--fw-med);
      letter-spacing: 0.05em;
    }

    &__author {
      font-size: var(--fs-small);
      font-weight: var(--fw-med);
      color: var(--color-grey-light-4);
    }
  }
}
