.podcasts-container {
  background-color: var(--clr-background-dark-2);
  padding: 3rem;
  overflow: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 3rem;
}
